@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Montserrat', sans-serif;
    font-size: 10px;
}

.about_section_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
}

.about-photo img{
    width: 400px;
    border-radius: 15px;

}

.first_wrapper {
    display: flex;
    flex-direction: column;
}

.about-text-wrapper h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}

.about-main-section p{
    padding-bottom: 35px;
    padding-top: 65px;
    max-width: 470px;
    font-size: 1.6rem;
    line-height: 1.6;
}

.about-main-section h2{
    font-size: 2rem;
    font-weight: 700;
}



@media (max-width: 990px) {

.about_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_wrapper {
    padding-bottom: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.about-main-section p{
    padding-bottom: 55px;
    padding-top: 75px;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 600px;
}

.about-main-section h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.about-photo img{
    display: none;
}

.about-text-wrapper h1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
}

}