@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Montserrat', sans-serif;
    font-size: 10px;
}

.contact-title-wrapper {
    display: flex;
    padding: 20px 100px;
}

.contact-main-text {
    display: block;
    margin-right: 30px;
    font-size: 5.2rem;
    font-weight: 700;
}

.contact-main-icon img {
    height: 64px;
    width: 64px;
}

.contact-main-paragraph {
    display: block;
    max-width: 511px;
    padding: 0 100px;
    font-size: 1.7rem;
    line-height: 1.4;
}