@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
    font-family:'Montserrat', sans-serif;

}



.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: black;
    z-index: 100000;
    /* border-bottom: 1px solid #000; */
}

.brand-title {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    margin: .5rem;
    font-weight: 400;
    padding: 10px;
    font-family: 'Sacramento', cursive;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 5px;


}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar-links li:hover {
    background-color: #dfdfdf;
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: #333;
    border: none;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    z-index: 500;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
}

@media (max-width: 700px) {
    .brand-title {
        font-size: 2.5rem;
        padding: 5px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: none;
        top: 1.2rem;
        right: 1.3rem;
        width: 25px;
        height: 17px;
        bgc
    }

    .toggle-button .bar {
        height: 2px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

