@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Montserrat', sans-serif;
    font-size: 10px;
}
body{

}

.main-navigation-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
}
.main-navigation-item span{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.main-navigation-item{
    font-size: 1.6rem;
    padding: 30px;
    font-weight: 600;
}
.main-navigation-list a{
    text-decoration: none;
    color: #000;
}
.main-navigation-list li:hover{
    font-size: 1.7rem;
    color: lightskyblue;
}


.main-photo{
    /* position: relative; */

}
.main-photo img{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 35%;
    height: 100vh;

}

.main-text-wrapper{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: calc(100vh - 150px);
    align-items: flex-end;
    padding: 50px;
    text-align: right;
    justify-content: center;
}
.main-text-wrapper h1{
    font-size: 8rem;
    font-weight: 700;

}
.main-text-wrapper p{
    padding-top: 60px;
    padding-bottom: 40px;
    width: 310px;
    font-size: 1.8rem;
    line-height: 1.6;
}

.sci {
    display: flex;
    flex-direction: row;
}

.sci li {
    list-style: none;
    margin-left: 10px;

}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 2px solid #000;
    margin: 10px 0 0;
}

.sci li a:hover {
    background: lightblue;
}

.sci li a img {
    max-width: 20px;

}